body {
  margin: 0;
  padding: 0
}

.banner {
  height: 500px;
  background: url(../images/banner.png) 50% no-repeat #e2242d;
  width: 100%
}

.domain-wrap {
  height: 500px;
  background: #fff
}

.contact-wrap {
  height: 414px;
  padding-top: 44px;
  background: url(../images/contact-bg.png) top no-repeat #e2242d;
  width: 100%
}

.contact-wrap .title {
  font-size: 40px;
  height: 46px;
  line-height: 46px
}

.contact-wrap .sub-title,
.contact-wrap .title {
  font-family: Microsoft Yahei;
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: lighter
}

.contact-wrap .sub-title {
  line-height: 30px;
  font-size: 20px
}

.domain-title {
  font-weight: lighter;
  text-align: center;
  font-size: 40px;
  height: 46px;
  font-family: Microsoft Yahei
}

.domain-title i {
  vertical-align: middle;
  display: inline-block;
  width: 80px;
  height: 45px;
  background: url(../images/domain-icon.png) no-repeat
}

.contact-list {
  margin-top: 28px
}

.contact-list,
.domain-list {
  text-align: center
}

.domain-list .domain-item {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 40px 50px
}

.domain-list .domain-item p {
  color: #999;
  font-size: 24px
}

.contact-list li {
  vertical-align: top;
  display: inline-block;
  margin: 0 100px;
  width: 150px;
  text-align: center;
  font-size: 24px;
  color: #fff
}

.contact-list li i {
  display: inline-block;
  width: 132px;
  height: 152px
}

.contact-list li i.tel {
  background: url(../images/tel-active.png) no-repeat
}

.contact-list li i.tel:hover {
  background: url(../images/tel-active.png) no-repeat
}

.contact-list li i.qq {
  background: url(../images/qq-active.png) no-repeat
}

.contact-list li i.qq:hover {
  background: url(../images/qq-active.png) no-repeat
}

.contact-list li i.mail {
  background: url(../images/mail.png) no-repeat
}

.contact-list li i.mail:hover {
  background: url(../images/mail-active.png) no-repeat
}
